<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.IntegraShoppingMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.IntegraShopping">
    <id column="id" property="id" />
    <result column="productName" property="productName" />
    <result column="productDescription" property="productDescription" />
    <result column="coverUrl" property="coverUrl" />
    <association property="sign" javaType="Sign" columnPrefix="s_">
      <id column="id" property="id"/>
      <result column="score" property="score"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from integrashopping
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into integrashopping (productName, productDescription, coverUrl,sign_id)
    values (#{productName}, #{productDescription}, #{coverUrl},#{sign.id})

  </insert>
  <!--#{sign_id}-->
  <update id="updateByPrimaryKey">
    update integrashopping
    set productName = #{productName},
      productDescription = #{productDescription},
      coverUrl = #{coverUrl},
      sign_id=#{sign.id}
    where id = #{id}
  </update>
  <!--sign_id = #{sign_id}-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select sp.id,sp.productName,sp.productDescription,sp.coverUrl,sp.sign_id,s.id s_id,s.score s_score
    from integrashopping sp JOIN sign s ON sp.sign_id=s.id
    where sp.id = #{id}
  </select>

  <!--sign_id-->
  <select id="selectAll" resultMap="BaseResultMap">
    select id, productName, productDescription, coverUrl,sign_id
    from integrashopping
  </select>
  <!--sign_id-->
  <!--关联查询积分表获取到积分数-->
  <select id="selectForList" resultMap="BaseResultMap">
    select sp.id,sp.productName,sp.productDescription,sp.coverUrl,sp.sign_id,s.id s_id,s.score s_score
    from integrashopping sp JOIN sign s ON sp.sign_id=s.id
  </select>

</mapper>