<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.News">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="creationTime" property="creationTime" />
    <result column="coverUrl" property="coverUrl" />
    <result column="amount" property="amount" />
    <association property="content" javaType="NewsContent" columnPrefix="c_">
      <id column="id" property="id" />
      <result column="content" property="content" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from news
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into news ( title, creationTime, coverUrl, amount)
    values ( #{title}, #{creationTime}, #{coverUrl}, #{amount})
  </insert>




  <insert id="insertLikeTravelUserRelation">
    INSERT INTO like_user_news (
    user_id,
    news_id,
    create_time
    ) VALUES (
    #{userId},
    #{newsId},
    now()
    )
  </insert>
  <insert id="insertFavoriteTravelUserRelation">
    INSERT INTO favorite_user_news (
    user_id,
    news_id
    ) VALUES (
    #{userId},
    #{newsId}
    )

  </insert>


  <delete id="deleteLikeTravelUserRelation">
    DELETE FROM like_user_news
    WHERE user_id = #{userId} AND news_id = #{newsId}
  </delete>
  <delete id="deleteFavoriteTravelUserRelation">
    DELETE FROM favorite_user_news
    WHERE user_id = #{userId} AND news_id = #{newsId}

  </delete>
  
  <update id="updateByPrimaryKey">
    update news
    set
      title = #{title},
      coverUrl = #{coverUrl},
      amount = #{amount}
    where id = #{id}
  </update>
  <update id="update">
    update news set amount=amount+1 where id =#{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
     select n.id,  n.title, n.creationTime, n.coverUrl, n.amount,c.content c_content
     from news n
     JOIN newscontent c ON n.id = c.id
    where n.id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id,  title, creationTime, coverUrl, amount
    from news
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select n.id, n.title, n.creationTime, n.coverUrl, n.amount,c.id c_id,c.content c_content
    from news n
    JOIN newscontent c ON n.id = c.id
    <where>
    <if test="keyword!=null">
      and n.title like concat('%',#{keyword},'%')
    </if>
    </where>
  </select>

  <select id="selectForAppList" resultMap="BaseResultMap">
    select n.id,  n.title, n.creationTime, n.coverUrl, n.amount,c.content c_content
     from news n
     JOIN newscontent c ON n.id = c.id
  </select>


  <select id="selectLikeById" resultType="map">
    select user_id, news_id, create_time
    from like_user_news
    WHERE user_id = #{userId} AND news_id = #{newsId}

  </select>
  <select id="selectFavoriteById" resultType="map">

    select user_id, news_id
    from favorite_user_news
    WHERE user_id = #{userId} AND news_id = #{newsId}
  </select>

  <select id="countFavorites" resultType="int">
    select count(1)
    from favorite_user_news
    WHERE  news_id = #{newsId}
  </select>


  <select id="countLikes" resultType="int">
    select count(1)
    from like_user_news
    WHERE  news_id = #{newsId}
  </select>


  <select id="countReplies" resultType="int">
    select count(1)
    from reply
    WHERE  target_id = #{newsId} AND type = 3
  </select>
</mapper>