<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.QuestionSecondMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.QuestionSecond">
    <id column="id" property="id" />
    <result column="content" property="content" />
    <result column="create_time" property="createTime" />
    <result column="question_id" property="questionId" />
    <result column="img_url" property="imgUrl" />
    <association property="user" javaType="user" columnPrefix="u_">
      <result column="id" property="id" />
      <result column="nickName" property="nickName" />
      <result column="place" property="place" />
      <result column="headImgUrl" property="headImgUrl" />
    </association>
  </resultMap>
  
    <delete id="deleteByPrimaryKey">
      DELETE FROM question_second
      WHERE id = #{id}
    </delete>
  
    <delete id="deleteByQuestionId">
      DELETE FROM question_second
      WHERE question_id = #{questionId}

    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO question_second (content, user_id, create_time,
        question_id, img_url)
      VALUES (#{content}, #{user.id}, now(),
        #{questionId}, #{imgUrl})
    </insert>
  

  <select id="selectAllByQuestionId" resultMap="BaseResultMap">
    SELECT qs.id, qs.content, qs.user_id, qs.create_time, qs.question_id, qs.img_url,
            u.id u_id, u.nickName u_nickName, u.place u_place, u.headImgUrl u_headImgUrl
    FROM question_second qs
    LEFT JOIN user u ON u.id = qs.user_id
    WHERE qs.question_id = #{id}
  </select>
</mapper>