<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.ReplySecondMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.ReplySecond">
    <id column="id" property="id" />
    <result column="content" property="content" />
    <result column="create_time" property="createTime" />
    <result column="parent_id" property="parentId" />
    <association property="user" javaType="user" columnPrefix="u_">
      <id column="id" property="id" />
      <result column="nickName" property="nickName"/>
      <result column="headImgUrl" property="headImgUrl"/>
    </association>
  </resultMap>
  
    <delete id="deleteByParentId">
      DELETE FROM reply_second
      WHERE parent_id = #{parentId}
    </delete>
    
    
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO reply_second (content, user_id, create_time,
      parent_id)
    VALUES (#{content}, #{user.id}, now(),
      #{parentId})
  </insert>
  
  <select id="selectAllByParentId" resultMap="BaseResultMap">
    SELECT r.id, r.content, r.user_id, r.create_time, r.parent_id,
            u.id u_id, u.nickName u_nickName, u.headImgUrl u_headImgUrl


    FROM reply_second r
    JOIN user u ON u.id = r.user_id
      WHERE r.parent_id = #{id}
  </select>
</mapper>