<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.TicketsMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.Tickets">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="price" property="price" />
    <result column="coverurl" property="coverurl" />
    <result column="state" property="state" />
    <result column="type" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from tickets
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into tickets (name, price, coverurl, state,type)
    values (#{name}, #{price}, #{coverurl}, #{state},#{type})
  </insert>
  <update id="updateByPrimaryKey">
    update tickets
    set name = #{name},
      price = #{price},
      coverurl = #{coverurl},
      state = #{state},
      type=#{type}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, price, coverurl, state,type
    from tickets
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, price, coverurl, state,type
    from tickets
  </select>

  <select id="selectForList" resultMap="BaseResultMap">
   select id, name, price, coverurl, state,type
    from tickets
    <where>
      <if test="keyword!=null">
        and name like concat('%',#{keyword},'%')
      </if>
    </where>
  </select>

</mapper>