<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.TravelMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.Travel">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="travelTime" property="travelTime" />
    <result column="perExpends" property="perExpends" />
    <result column="days" property="days" />
    <result column="person" property="person" />
    <!--<result column="author_id" property="author_id" />-->
    <result column="createTime" property="createTime" />
    <result column="releaseTime" property="releaseTime" />
    <result column="isPublic" property="isPublic" />
   <!-- <result column="place_id" property="place_id" />-->
    <result column="coverUrl" property="coverUrl" />
    <result column="lastUpdateTime" property="lastUpdateTime" />
    <result column="state" property="state" />
    <association property="travelContent" javaType="travelContent">
      <id column="id" property="id" />
      <result column="content" property="content" />
    </association>
    <association property="place" javaType="region" columnPrefix="r_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>
    <association property="author" javaType="user" columnPrefix="u_">
      <id column="id" property="id" />
      <result column="nickName" property="nickName" />
      <result column="headImgUrl" property="headImgUrl" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    DELETE FROM travel
    WHERE id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO travel (title, travelTime, perExpends, days, person, author_id,
      createTime, releaseTime, isPublic, place_id, coverUrl, lastUpdateTime, 
      state)
    VALUES (#{title}, #{travelTime}, #{perExpends}, #{days}, #{person}, #{author.id},
      #{createTime}, #{releaseTime}, #{isPublic}, #{place.id}, #{coverUrl}, #{lastUpdateTime},
      #{state})
  </insert>


  <insert id="insertLikeTravelUserRelation">
      INSERT INTO like_user_travel (
          user_id,
          travel_id,
          create_time
      ) VALUES (
          #{userId},
          #{travelId},
          now()
      )
  </insert>
  <insert id="insertFavoriteTravelUserRelation">
    INSERT INTO favorite_user_travel (
          user_id,
          travel_id
      ) VALUES (
          #{userId},
          #{travelId}
      )

  </insert>


  <delete id="deleteLikeTravelUserRelation">
      DELETE FROM like_user_travel
        WHERE user_id = #{userId} AND travel_id = #{travelId}
  </delete>
  <delete id="deleteFavoriteTravelUserRelation">
DELETE FROM favorite_user_travel
        WHERE user_id = #{userId} AND travel_id = #{travelId}

  </delete>

  <update id="updateByPrimaryKey">
    UPDATE travel
    SET title = #{title},
      travelTime = #{travelTime},
      perExpends = #{perExpends},
      days = #{days},
      person = #{person},
      isPublic = #{isPublic},
      place_id = #{place.id},
      coverUrl = #{coverUrl},
      lastUpdateTime = #{lastUpdateTime},
      state = #{state}
    WHERE id = #{id}
  </update>
  <update id="chageState">
    UPDATE travel
    SET
       state = #{state}
    WHERE id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    SELECT t.*,tc.content,r.id r_id,r.name r_name,
          u.id u_id, u.nickName u_nickName,u.headImgUrl u_headImgUrl
    FROM travel t JOIN travelcontent tc ON tc.id = t.id
    JOIN region r ON t.place_id = r.id
    JOIN user u ON t.author_id = u.id
    WHERE t.id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT id, title, travelTime, perExpends, days, person, author_id, createTime, releaseTime,
    isPublic, place_id, coverUrl, lastUpdateTime, state
    FROM travel
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select t.*,r.id r_id,r.name r_name,u.id u_id, u.nickName u_nickName,u.headImgUrl u_headImgUrl
    from travel t
    join region r on t.place_id = r.id
    join user u on t.author_id = u.id
    <where>
      <if test="authorId!=null">
        and t.author_id = #{authorId}
      </if>
      <if test="state !=null and state > -2">
        and t.state = #{state}
      </if>
      <if test="isPublic!=null">
        and t.isPublic = #{isPublic}
      </if>
      <if test="travelId!=null">
        and t.id = #{travelId}
      </if>
      <if test="keyword!=null">
        and title like concat('%',#{keyword},'%')
      </if>
    </where>
  </select>
  <select id="selectLikeById" resultType="map">
    select user_id, travel_id, create_time
    from like_user_travel
    WHERE user_id = #{userId} AND travel_id = #{travelId}

  </select>
  <select id="selectFavoriteById" resultType="map">

    select user_id, travel_id
    from favorite_user_travel
    WHERE user_id = #{userId} AND travel_id = #{travelId}
  </select>

    <select id="countFavorites" resultType="int">
      select count(1)
    from favorite_user_travel
    WHERE  travel_id = #{travelId}
    </select>


  <select id="countLikes" resultType="int">
    select count(1)
    from like_user_travel
    WHERE  travel_id = #{travelId}
  </select>
  <select id="countReplies" resultType="int">
    select count(1)
    from reply
    WHERE  target_id = #{travelId} AND type = 1
  </select>

  <select id="selectByStatus" resultMap="BaseResultMap">
    SELECT t.* from travel t where state = #{state} and id in (
      select travel_id from strategy_travel st join strategy s on st.strategy_id = s.id where s.id = #{strategyId}
    )
  </select>

    <select id="selectForListByUserId" resultMap="BaseResultMap">
       select id, title, travelTime, perExpends, days, person, author_id, createTime, releaseTime,
    isPublic, place_id, coverUrl, lastUpdateTime, state
    from travel
    WHERE author_id = #{UserId}
    </select>
</mapper>