
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.schedule_map, .map_detail, .map_content {
    height: 100%;
}
body {
    text-align: left;
    font-family: 'PingFangSC-Light',Arial,Helvetica,sans-serif,"Hiragino Sans GB";
    color: #474747;
    background-color: #FFF;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}
body {
    margin: 0 auto;
    max-width: 500px;
}
.body_b{

    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.head2home {
    height: 50px;
    background: #fff url(/img/reply/line1.png) 0 bottom repeat-x;
    background-size: 5px;
    position: relative;
}

.head2home .btn_back {
    display: block;
    padding: 0px 0px;
    width: 35px;
    height: 32px;
    background: url(/img/reply/btn_back.png) center center no-repeat;
}

.head2home .logo {
    display: block;
    padding: 10px 15px;
    width: 102px;
    height: 27px;
    background: url(/img/reply/logo-new204.png) center center no-repeat;
    background-size: 102px;
}
.head2home .rBtn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
}
.head2home .rBtn a.home {
    display: inline-block;
    width: 93px;
    line-height: 50px;
    font-size: 15px;
    color: #ff9d00;
    vertical-align: top;
    text-align: center;
    position: relative;
}
.head2home .rBtn a.sch {
    display: inline-block;
    background: url(/img/reply/i_head5.png) 0 -50px no-repeat;
    background-size: 100px 300px;
    height: 50px;
    width: 50px;
}
input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: 'PingFangSC-Light',Arial,Helvetica,sans-serif;
}
.comment {
    padding-bottom: 50px;
}
.comment_detail h1 {
    padding: 25px 20px;
    background-color: #f6f6f6;
    font-size: 17px;
    color: #444;
    line-height: 23px;
    border-bottom: 1px solid #e7e7e7;
}
body, ul, ol, p, h1, h2, h3, dl, dt, dd, li, input, textarea, button {
    margin: 0;
    padding: 0;
    word-break: break-all;
}
ul, li, dl, dt, dd {
    list-style: none;
}

body, ul, ol, p, h1, h2, h3, dl, dt, dd, li, input, textarea, button {
    margin: 0;
    padding: 0;
    word-break: break-all;
}
.comment_lsit li {
    position: relative;
    margin-left: 60px;
    padding: 16px 15px 13px 0;
    border-bottom: 1px solid #d7d7d7;
    line-height: 18px;
}
ul, li, dl, dt, dd {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
    color: #474747;
}
.comment_lsit .cl_ava img {
    position: absolute;
    left: -45px;
    top: 16px;
    width: 34px;
    border-radius: 34px;
}
img {
    vertical-align: middle;
}
.comment_lsit .cl_name {
    color: #ff7200;
    margin-right: 2px;
}
.comment_lsit li {
    position: relative;
    margin-left: 60px;
    padding: 16px 15px 13px 0;
    border-bottom: 1px solid #d7d7d7;
    line-height: 18px;
}
.comment_lsit .cl_rating {
    font-weight: bold;
    color: #ea3c1a;
    font-size: 10px;
}
.comment_lsit .cl_reply {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 14px;
    color: #ff8a00;
}
.comment_lsit .cl_time {
    color: #999;
    font-size: 10px;
}
.cl_con {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
}

.cl_quote {
    display: block;
    color: #999;
    margin-bottom: 8px;
    padding-right: 5px;
    font-size: 12px;
}
.comment_lsit .cl_con img {
    max-width: 100%;
}
.cl_quote_img img {
    display: block;
    margin: 8px 0 12px;
    width: 100%;
}
img {
    vertical-align: middle;
}

/*修改*/
.replace-file-img{
	width: 100%!important;
	display: block!important;
}

/*底部*/
.footer_comment {
    height: 55px;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
   
}
.footer {
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    background-color: #fff;
    background-color: rgba(255,255,255,.97);
    height: 50px;
    border-top: 1px solid #ccc;
    z-index: 30;
    box-shadow: 0 -2px 3px rgba(0,0,0,.14);
}
.footer {
    /*background-color: #2a282c;*/
    padding-bottom: 17px;
}
.comment_replay {
    padding: 10px 15px;
}
.comment_replay input {
    padding: 0 13px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    border: none;
    border-radius: 3px;
    line-height: 35px;
    font-size: 14px;
    color: #999;
    outline: none;
}

/*留言框*/
.bgef {
    background: #efefef;
}
.reply_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 480px;
    border-top: none;
    overflow: hidden;
    z-index: 98;
    display: none;
   /*display: block;*/
}
.reply_box .reply_title {
    position: fixed;
    top: 0;
}
.reply_box .reply_title {
    width: 100%;
    margin: 0 auto;
    border: none;
    padding: 48px 0 0;
}
.reply_box .re-hd {
    height: 43px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 43px;
    border-bottom: 1px solid #f29406;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}
.reply_box a.close {
    position: absolute;
    width: 44px;
    height: 48px;
    display: block;
    top: 0px;
    left: 0px;
}
.reply_box a.close i {
    width: 23px;
    height: 16px;
    display: block;
    background: url(/img/reply/footbar.png) 0px 0px no-repeat;
    margin: 16px 0 0 14px;
    background-size: 25px 300px;
}
.reply_box a.submit {
    position: absolute;
    width: 44px;
    height: 48px;
    display: block;
    top: 0px;
    right: 0px;
}
.reply_box a.submit i {
    width: 23px;
    height: 16px;
    display: block;
    background: url(/img/reply/footbar.png) 0 -20px no-repeat;
    margin: 13px 0 0 10px;
    background-size: 25px 300px;
}
.reply-wrap {
    padding: 2px 10px 0;
    resize: none;
}
.reply-wrap textarea {
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
    background: #fff;
    text-indent: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 18px;
    line-height: 1.2em;
    color: #666;
    text-align: left;
    outline: 0;
    border: 1px solid #fff;
    margin-top: 20px;
}

